<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>MavenThought Inc. Demo Ko & Coffee</title>
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        <link href="/content/styles.css" rel="stylesheet"/>
        @RenderSection("head", false)
        @Html.Partial("_html5shiv")
    </head>
     
    <body>
        <div class="navbar-nav navbar-inverse navbar-fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand">Single Web Page App Workshop</a>      
            </div>    
        </div>

        <div class='container'>
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav list-group">
                        <li class="list-group-item"><a href='/demo'>Movie Library</a></li>
                        <li class="list-group-item"><a href='/demo/twitter'>Twitter Feed</a></li>
                    </ul>
                </div>   
                <div class="col-lg-9">
                    @RenderBody()
                </div>
            </div> 
        </div>

        @Scripts.Render("~/js")
        <script type="text/javascript" src="/Scripts/knockout-3.0.0.js"></script>
        <script type="text/javascript" src="/Scripts/ViewModels/DemoKoCoffee.js"></script>
        <script type="text/javascript" src="/Scripts/ViewModels/MovieLibraryViewModel.js"></script>
        @RenderSection("scripts", false)
    </body>
</html>

